[submodule "TOOLS/MDIS_API"]
	path = TOOLS/MDIS_API
	url = ../../mct/mdis_api.git
[submodule "DRIVERS/BBIS/A21"]
	path = DRIVERS/BBIS/A21
	url = ../../mc/bbis_drv_a21.git
[submodule "DRIVERS/BBIS/A201"]
	path = DRIVERS/BBIS/A201
	url = ../../mc/bbis_drv_a201.git
[submodule "DRIVERS/BBIS/A203N"]
	path = DRIVERS/BBIS/A203N
	url = ../../mc/bbis_drv_a203n.git
[submodule "DRIVERS/BBIS/CHAMELEON"]
	path = DRIVERS/BBIS/CHAMELEON
	url = ../../mc/bbis_drv_chameleon.git
[submodule "DRIVERS/BBIS/D201"]
	path = DRIVERS/BBIS/D201
	url = ../../mc/bbis_drv_d201.git
[submodule "DRIVERS/BBIS/D203N"]
	path = DRIVERS/BBIS/D203N
	url = ../../mc/bbis_drv_d203n.git
[submodule "DRIVERS/BBIS/D302"]
	path = DRIVERS/BBIS/D302
	url = ../../mc/bbis_drv_d302.git
[submodule "DRIVERS/BBIS/ISA"]
	path = DRIVERS/BBIS/ISA
	url = ../../mc/bbis_drv_isa.git
[submodule "DRIVERS/BBIS/PCI"]
	path = DRIVERS/BBIS/PCI
	url = ../../mc/bbis_drv_pci.git
[submodule "DRIVERS/BBIS/SMBPCI"]
	path = DRIVERS/BBIS/SMBPCI
	url = ../../mc/bbis_drv_smbpci.git
[submodule "INCLUDE/COM/MEN"]
	path = INCLUDE/COM/MEN
	url = ../../mc/mdis_inc.git
[submodule "LIBSRC/CHAMELEON/COM"]
	path = LIBSRC/CHAMELEON/COM
	url = ../../mc/libsrc_chameleon.git
[submodule "DRIVERS/BBIS/A12"]
	path = DRIVERS/BBIS/A12
	url = ../../mc/bbis_drv_a12.git
[submodule "LIBSRC/DESC/COM"]
	path = LIBSRC/DESC/COM
	url = ../../mc/libsrc_desc.git
[submodule "LIBSRC/ID/COM"]
	path = LIBSRC/ID/COM
	url = ../../mc/libsrc_id.git
[submodule "LIBSRC/MBUF/COM"]
	path = LIBSRC/MBUF/COM
	url = ../../mc/libsrc_mbuf.git
[submodule "LIBSRC/PLD/COM"]
	path = LIBSRC/PLD/COM
	url = ../../mc/libsrc_pld.git
[submodule "LIBSRC/SMB2/COM"]
	path = LIBSRC/SMB2/COM
	url = ../../mc/libsrc_smb2.git
[submodule "LIBSRC/SMB"]
	path = LIBSRC/SMB
	url = ../../mc/libsrc_smb.git
[submodule "LIBSRC/USR_UTL/COM"]
	path = LIBSRC/USR_UTL/COM
	url = ../../mc/libsrc_usr_utl.git
[submodule "LIBSRC/USR_OSS/COM"]
	path = LIBSRC/USR_OSS/COM
	url = ../../mc/libsrc_usr_oss.git
[submodule "TOOLS/WDOG"]
	path = TOOLS/WDOG
	url = ../../mct/wdog.git
[submodule "TOOLS/M_TMR"]
	path = TOOLS/M_TMR
	url = ../../mct/m_tmr.git
