[submodule "TOOLS/MDIS_API"]
	path = TOOLS/MDIS_API
	url = ../mdis_tools_mdis_api.git
[submodule "INCLUDE/COM/MEN"]
	path = INCLUDE/COM/MEN
	url = ../mdis_include_com_men.git
[submodule "LIBSRC/CHAMELEON/COM"]
	path = LIBSRC/CHAMELEON/COM
	url = ../mdis_libsrc_chameleon_com.git
[submodule "LIBSRC/DESC/COM"]
	path = LIBSRC/DESC/COM
	url = ../mdis_libsrc_desc_com.git
[submodule "LIBSRC/ID/COM"]
	path = LIBSRC/ID/COM
	url = ../mdis_libsrc_id_com.git
[submodule "LIBSRC/MBUF/COM"]
	path = LIBSRC/MBUF/COM
	url = ../mdis_libsrc_mbuf_com.git
[submodule "LIBSRC/PLD/COM"]
	path = LIBSRC/PLD/COM
	url = ../mdis_libsrc_pld_com.git
[submodule "LIBSRC/USR_UTL/COM"]
	path = LIBSRC/USR_UTL/COM
	url = ../mdis_libsrc_usr_utl_com.git
[submodule "LIBSRC/SMB/PORT/COM"]
	path = LIBSRC/SMB/PORT/COM
	url = ../mdis_libsrc_smb_port_com.git
[submodule "LIBSRC/USR_OSS"]
	path = LIBSRC/USR_OSS
	url = ../mdis_libsrc_usr_oss.git
