[submodule "TOOLS/MDIS_API"]
	path = TOOLS/MDIS_API
	url = ../../mct/mdis_api.git
[submodule "INCLUDE/COM/MEN"]
	path = INCLUDE/COM/MEN
	url = ../../mc/mdis_inc.git
[submodule "LIBSRC/CHAMELEON/COM"]
	path = LIBSRC/CHAMELEON/COM
	url = ../../mc/libsrc_chameleon.git
[submodule "LIBSRC/DESC/COM"]
	path = LIBSRC/DESC/COM
	url = ../../mc/libsrc_desc.git
[submodule "LIBSRC/ID/COM"]
	path = LIBSRC/ID/COM
	url = ../../mc/libsrc_id.git
[submodule "LIBSRC/MBUF/COM"]
	path = LIBSRC/MBUF/COM
	url = ../../mc/libsrc_mbuf.git
[submodule "LIBSRC/PLD/COM"]
	path = LIBSRC/PLD/COM
	url = ../../mc/libsrc_pld.git
[submodule "LIBSRC/USR_UTL/COM"]
	path = LIBSRC/USR_UTL/COM
	url = ../../mc/libsrc_usr_utl.git
[submodule "LIBSRC/SMB/PORT/COM"]
	path = LIBSRC/SMB/PORT/COM
	url = ../../mc/libsrc_smb_port.git
[submodule "LIBSRC/USR_OSS"]
	path = LIBSRC/USR_OSS
	url = ../../mc/libsrc_usr_oss.git
